In [1]:
import pandas as pd

file_path = "df.csv"

df = pd.read_csv(file_path)

In [2]:
df

,Job Title,Salary Estimate,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Senior Data Scientist,$111K-$181K (Glassdoor est.),3.5,Hopper\n3.5,"New York, NY",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable
1,"Data Scientist, Product Analytics",$111K-$181K (Glassdoor est.),4.5,Noom US\n4.5,"New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable
2,Data Science Manager,$111K-$181K (Glassdoor est.),-1.0,Decode_M,"New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable
3,Data Analyst,$111K-$181K (Glassdoor est.),3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable
4,"Director, Data Science",$111K-$181K (Glassdoor est.),3.4,United Entertainment Group\n3.4,"New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable
...,...,...,...,...,...,...,...,...,...,...,...
5887,Manufacturing Data Analyst Engineer,$42K - $76K (Glassdoor est.),3.6,Hose Master\n3.6,"Euclid, OH",201 to 500 Employees,1982,Company - Private,Electrical & Electronic Manufacturing,Manufacturing,Unknown / Non-Applicable
5888,Data Scientist,-1,4.9,Bluetree Network\n4.9,"Madison, WI",-1,-1,-1,-1,-1,-1
5889,Supply Chain Consultant - Data Scientist,-1,4.0,"Kimberly-Clark Corporation, LLC\n4.0","Neenah, WI",10000+ Employees,1872,Company - Public,Consumer Products Manufacturing,Manufacturing,$10+ billion (USD)
5890,Data Science Engineer,-1,4.0,AE Business Solutions\n4.0,"Madison, WI",51 to 200 Employees,1949,Company - Private,Computer Hardware & Software,Information Technology,$25 to $50 million (USD)
5891,Data Scientist/ Full Stack Developer,$65 - $72 Per Hour,3.7,Epitec\n3.7,"Wisconsin, WI",1001 to 5000 Employees,1978,Company - Private,Staffing & Outsourcing,Business Services,$100 to $500 million (USD)

In [3]:
df['Salary Estimate'][0]

'$111K-$181K (Glassdoor est.)'

In [4]:
def remove_k_and_dollar_sign(sentence):
    return sentence.replace("K", " ").replace("$", " ")


df['Salary Estimate'].apply(remove_k_and_dollar_sign)

0        111 - 181  (Glassdoor est.)
1        111 - 181  (Glassdoor est.)
2        111 - 181  (Glassdoor est.)
3        111 - 181  (Glassdoor est.)
4        111 - 181  (Glassdoor est.)
                    ...
5887     42  -  76  (Glassdoor est.)
5888                              -1
5889                              -1
5890                              -1
5891               65 -  72 Per Hour
Name: Salary Estimate, Length: 5892, dtype: object

In [5]:
df['Salary Estimate'] = df['Salary Estimate'].apply(remove_k_and_dollar_sign)

In [6]:
df[df['Salary Estimate'] == "-1"]

,Job Title,Salary Estimate,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
3950,Technology Transfer Scientist,-1,-1.0,Lumos Diagnostics,"Carlsbad, CA",-1,-1,-1,-1,-1,-1
3954,Data Scientist,-1,3.6,Penske Truck Leasing and Logistics\n3.6,"Beachwood, OH",10000+ Employees,1969,Company - Private,Transportation Management,Transportation & Logistics,$5 to $10 billion (USD)
3965,Technology Transfer Scientist,-1,-1.0,Lumos Diagnostics,"Carlsbad, CA",-1,-1,-1,-1,-1,-1
3978,"Assistant, Associate or Full Research Scientis...",-1,4.3,UC San Diego\n4.3,California,10000+ Employees,1960,College / University,Colleges & Universities,Education,Unknown / Non-Applicable
3997,Principal Data Engineer (CA),-1,4.5,Movoto\n4.5,California,201 to 500 Employees,2004,Company - Private,Real Estate,Real Estate,$10 to $25 million (USD)
...,...,...,...,...,...,...,...,...,...,...,...
5884,Data & Modeling Sciences - Director,-1,4.2,Procter & Gamble\n4.2,"Mason, OH",10000+ Employees,1837,Company - Public,Consumer Products Manufacturing,Manufacturing,$10+ billion (USD)
5885,Data Engineer,-1,3.6,Andela Talent Network\n3.6,Ohio,1001 to 5000 Employees,2014,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable
5888,Data Scientist,-1,4.9,Bluetree Network\n4.9,"Madison, WI",-1,-1,-1,-1,-1,-1
5889,Supply Chain Consultant - Data Scientist,-1,4.0,"Kimberly-Clark Corporation, LLC\n4.0","Neenah, WI",10000+ Employees,1872,Company - Public,Consumer Products Manufacturing,Manufacturing,$10+ billion (USD)
5890,Data Science Engineer,-1,4.0,AE Business Solutions\n4.0,"Madison, WI",51 to 200 Employees,1949,Company - Private,Computer Hardware & Software,Information Technology,$25 to $50 million (USD)

In [7]:
df = df[df['Salary Estimate'] != "-1"]

In [8]:
df[df['Salary Estimate'].str.contains("Per Hour")]

,Job Title,Salary Estimate,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
685,"Clinical Laboratory Scientist, Per Diem",34- 53 Per Hour(Glassdoor est.),3.8,UC Davis Medical Center\n3.8,"Los Angeles, CA",10000+ employees,-1,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD)
686,Sr. Data Analyst,34- 53 Per Hour(Glassdoor est.),2.8,SAG-AFTRA Health Plan and SAG-Producers Pensio...,"Burbank, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable
687,"Lead Data Science Instructor, Data Scientist",34- 53 Per Hour(Glassdoor est.),-1.0,Galvanize Inc.,"Los Angeles, CA",51 to 200 employees,-1,Company - Private,Construction,"Construction, Repair & Maintenance",Unknown / Non-Applicable
688,"Clinical Laboratory Scientist (Per Diem, Varia...",34- 53 Per Hour(Glassdoor est.),3.0,AHMC Healthcare\n3.0,"Monterey Park, CA",5001 to 10000 employees,1998,Company - Private,Health Care Services & Hospitals,Health Care,$1 to $2 billion (USD)
689,Data Engineer,34- 53 Per Hour(Glassdoor est.),-1.0,BlackLine Systems,"Woodland Hills, CA",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable
690,Clinical Laboratory Scientist - Generalist,34- 53 Per Hour(Glassdoor est.),3.8,LetsGetChecked\n3.8,"Monrovia, CA",51 to 200 employees,2015,Company - Private,Health Care Services & Hospitals,Health Care,Unknown / Non-Applicable
691,"Clinical Laboratory Scientist , Med Tech",34- 53 Per Hour(Glassdoor est.),3.4,Covance\n3.4,"Los Angeles, CA",10000+ employees,1996,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10 to $25 million (USD)
1295,Stafford Data Science Tutor Jobs,10- 26 Per Hour(Glassdoor est.),4.2,Varsity Tutors\n4.2,"Stafford, TX",201 to 500 employees,2007,Company - Private,Internet,Information Technology,Unknown / Non-Applicable
1296,Spring Data Science Tutor Jobs,10- 26 Per Hour(Glassdoor est.),4.2,Varsity Tutors\n4.2,"Spring, TX",201 to 500 employees,2007,Company - Private,Internet,Information Technology,Unknown / Non-Applicable
1297,Sugar Land Data Science Tutor Jobs,10- 26 Per Hour(Glassdoor est.),4.2,Varsity Tutors\n4.2,"Sugar Land, TX",201 to 500 employees,2007,Company - Private,Internet,Information Technology,Unknown / Non-Applicable
2124,Laboratory Scientist II,17- 27 Per Hour(Glassdoor est.),3.7,University Health System\n3.7,"San Antonio, TX",1001 to 5000 employees,1955,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD)
2125,Data Engineer - Top Secret w/ SCI Eligibility,17- 27 Per Hour(Glassdoor est.),4.0,LMI\n4.0,"San Antonio, TX",1001 to 5000 employees,1961,Nonprofit Organization,Consulting,Business Services,$100 to $500 million (USD)
2126,Biological Scientist,17- 27 Per Hour(Glassdoor est.),4.2,U.S. Air Force\n4.2,"Lackland AFB, TX",10000+ employees,1947,Government,Federal Agencies,Government,$10+ billion (USD)
2127,TECHNICAL DATA ANALYST,17- 27 Per Hour(Glassdoor est.),3.8,Spectrum Comm\n3.8,"Lackland AFB, TX",51 to 200 employees,1999,Company - Private,Aerospace & Defense,Aerospace & Defense,$25 to $50 million (USD)
2128,Environmental Scientist/Engineer,17- 27 Per Hour(Glassdoor est.),4.0,"BB&E, Inc.\n4.0","San Antonio, TX",10000+ employees,-1,Company - Public,Banks & Credit Unions,Finance,$10+ billion (USD)
2129,Data Analyst with Security Clearance,17- 27 Per Hour(Glassdoor est.),3.3,CDO Technologies Inc\n3.3,"San Antonio, TX",201 to 500 employees,1995,Company - Private,Computer Hardware & Software,Information Technology,$50 to $100 million (USD)
2130,"Associate Scientist, Process Development & Man...",17- 27 Per Hour(Glassdoor est.),2.2,BioBridge Global\n2.2,"San Antonio, TX",501 to 1000 employees,2013,Nonprofit Organization,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$1 to $5 million (USD)
2131,"Configuration Data Analyst, San Antonio, TX, U...",17- 27 Per Hour(Glassdoor est.),-1.0,Cherokee Federal,"Fort Sam Houston, TX",1 to 50 employees,-1,Nonprofit Organization,Banks & Credit Unions,Finance,Unknown / Non-Applicable
2132,Research Scientist III,17- 27 Per Hour(Glassdoor est.),3.5,General Dynamics Information Technology\n3.5,"Fort Sam Houston, TX",10000+ employees,1996,Subsidiary or Business Segment,IT Services,Information Technology,$10+ billion (USD)
2133,Senior Data Engineer,17- 27 Per Hour(Glassdoor est.),-1.0,KCI Licensing,"San Antonio, TX",1001 to 5000 employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable
2134,Lead of Cybersecurity Data Protection & Analytics,17- 27 Per Hour(Glassdoor est.),3.6,Humana\n3.6,"San Antonio, TX",10000+ employees,1961,Company - Public,Insurance Carriers,Insurance,$10+ billion (USD)
3986,"Clinical Laboratory Scientist, Full Time, Even...",25 - 41 Per Hour(Glassdoor est.),3.6,Adventist Health\n3.6,"Lodi, CA",10000+ Employees,1973,Nonprofit Organization,Health Care Services & Hospitals,Health Care,Unknown / Non-Applicable
4034,Clinical Lab Scientist,11 - 19 Per Hour(Glassdoor est.),3.1,AG Globe Services\n3.1,"Fresno, CA",51 to 200 Employees,2015,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable
5369,"Senior Clinical Scientist/Director, Clinical S...",53 - 90 Per Hour(Glassdoor est.),3.7,"Celldex Therapeutics, Inc.\n3.7","Hampton, NJ",-1,-1,-1,-1,-1,-1
5618,Medical Lab Scientist (MLS) Mercy Health St. E...,17 - 24 Per Hour(Glassdoor est.),3.7,Mercy Health\n3.7,"Youngstown, OH",10000+ Employees,1973,Hospital,Health Care Services & Hospitals,Health Care,$5 to $10 billion (USD)
5891,Data Scientist/ Full Stack Developer,65 - 72 Per Hour,3.7,Epitec\n3.7,"Wisconsin, WI",1001 to 5000 Employees,1978,Company - Private,Staffing & Outsourcing,Business Services,$100 to $500 million (USD)

In [9]:
df = df[~df['Salary Estimate'].str.contains("Per Hour")]

In [10]:
df['Salary Estimate'][0]

' 111 - 181  (Glassdoor est.)'

In [11]:
df['Salary Estimate'][0].split()

['111', '-', '181', '(Glassdoor', 'est.)']

In [12]:
salary_array = df['Salary Estimate'][0].split()
min_salary = salary_array[0]
max_salary = salary_array[2]
print(min)
print(max)

<built-in function min>
<built-in function max>

In [13]:
def get_min(value1):
    array = value1.split()
    return array[0]


df['Salary Estimate'].apply(get_min)

0       111
1       111
2       111
3       111
4       111
       ...
5881     38
5882     47
5883     66
5886     67
5887     42
Name: Salary Estimate, Length: 5500, dtype: object

In [14]:
def get_max(value1):
    array = value1.split()
    return array[2]


df['Salary Estimate'].apply(get_max)

0       181
1       181
2       181
3       181
4       181
       ...
5881     64
5882     89
5883    113
5886    111
5887     76
Name: Salary Estimate, Length: 5500, dtype: object

In [15]:
min_array = df['Salary Estimate'].apply(get_min)
max_array = df['Salary Estimate'].apply(get_max)

In [16]:
df.insert(loc=1, column='Min Salary', value=min_array)
df.insert(loc=2, column='Max Salary', value=max_array)

In [17]:
def remove_glassdoor(value):
    return value.replace("(Glassdoor est.)", "")


df['Salary Estimate'].apply(remove_glassdoor)

0         111 - 181
1         111 - 181
2         111 - 181
3         111 - 181
4         111 - 181
            ...
5881      38  -  64
5882      47  -  89
5883     66  -  113
5886     67  -  111
5887      42  -  76
Name: Salary Estimate, Length: 5500, dtype: object

In [18]:
df['Salary Estimate'] = df['Salary Estimate'].apply(remove_glassdoor)

In [19]:
df['Min Salary'] = df['Min Salary'].apply(int)
df['Max Salary'] = df['Max Salary'].apply(int)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5500 entries, 0 to 5887
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          5500 non-null   object
 1   Min Salary         5500 non-null   int64
 2   Max Salary         5500 non-null   int64
 3   Salary Estimate    5500 non-null   object
 4   Rating             5500 non-null   float64
 5   Company Name       5500 non-null   object
 6   Location           5500 non-null   object
 7   Size               5500 non-null   object
 8   Founded            5500 non-null   object
 9   Type of ownership  5500 non-null   object
 10  Industry           5500 non-null   object
 11  Sector             5500 non-null   object
 12  Revenue            5500 non-null   object
dtypes: float64(1), int64(2), object(10)
memory usage: 730.6+ KB

In [21]:
average_array = (df['Min Salary'] + df['Max Salary']) / 2
print(average_array)

0       146.0
1       146.0
2       146.0
3       146.0
4       146.0
        ...
5881     51.0
5882     68.0
5883     89.5
5886     89.0
5887     59.0
Length: 5500, dtype: float64

In [22]:
df.insert(loc=4, column='Average Salary', value=average_array)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5500 entries, 0 to 5887
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          5500 non-null   object
 1   Min Salary         5500 non-null   int64
 2   Max Salary         5500 non-null   int64
 3   Salary Estimate    5500 non-null   object
 4   Average Salary     5500 non-null   float64
 5   Rating             5500 non-null   float64
 6   Company Name       5500 non-null   object
 7   Location           5500 non-null   object
 8   Size               5500 non-null   object
 9   Founded            5500 non-null   object
 10  Type of ownership  5500 non-null   object
 11  Industry           5500 non-null   object
 12  Sector             5500 non-null   object
 13  Revenue            5500 non-null   object
dtypes: float64(2), int64(2), object(10)
memory usage: 773.6+ KB

In [24]:
df = df[df['Rating'] > 0]

In [25]:
df = df[df['Founded'] != "-1"]

In [26]:
df = df[df['Industry'] != "-1"]

In [27]:
df = df[df['Sector'] != "-1"]

In [28]:
df['Location'].value_counts()

Location
Austin, TX           259
Chicago, IL          257
San Diego, CA        228
New York, NY         226
Columbus, OH         179
                    ...
Lanham, MD             1
Sterling, VA           1
Tysons Corner, VA      1
Gaithersburg, MD       1
Euclid, OH             1
Name: count, Length: 441, dtype: int64

In [29]:
df['Location'][0].split()[-1]

'NY'

In [30]:
def get_state(value):
    array = value.split()
    return array[-1]


df[df['Location'].str.contains("United")]

,Job Title,Min Salary,Max Salary,Salary Estimate,Average Salary,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
1647,Genomic Data Scientist,50,87,50 - 87,68.5,3.9,GSK\n3.9,"Stevenage, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD)
1794,"Scientist, Data, Methods and Analytics Immuno-...",46,83,46 - 83,64.5,3.9,GSK\n3.9,"Stevenage, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD)
1809,"Scientist in Data, Methods, & Analytics",45,106,45 - 106,75.5,3.9,GSK\n3.9,"Brentford, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD)
1880,Lead Data Analyst,143,237,143 - 237,190.0,3.9,GSK\n3.9,"Brentford, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD)

In [31]:
df = df[~df['Location'].str.contains("United")]

In [32]:
df['Location'].apply(get_state)

0       NY
1       NY
3       NJ
4       NY
5       NY
        ..
5881    OH
5882    OH
5883    OH
5886    OH
5887    OH
Name: Location, Length: 4226, dtype: object

In [33]:
df['Location'] = df['Location'].apply(get_state)

In [34]:
df

,Job Title,Min Salary,Max Salary,Salary Estimate,Average Salary,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Senior Data Scientist,111,181,111 - 181,146.0,3.5,Hopper\n3.5,NY,501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable
1,"Data Scientist, Product Analytics",111,181,111 - 181,146.0,4.5,Noom US\n4.5,NY,1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable
3,Data Analyst,111,181,111 - 181,146.0,3.4,Sapphire Digital\n3.4,NJ,201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable
4,"Director, Data Science",111,181,111 - 181,146.0,3.4,United Entertainment Group\n3.4,NY,51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable
5,Data Scientist,111,181,111 - 181,146.0,2.9,IFG Companies\n2.9,NY,201 to 500 employees,1985,Company - Private,Insurance Carriers,Insurance,Unknown / Non-Applicable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5881,Information Scientist,38,64,38 - 64,51.0,3.2,CAS\n3.2,OH,1001 to 5000 Employees,1907,Subsidiary or Business Segment,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD)
5882,Supervisory Research Health Scientist,47,89,47 - 89,68.0,4.2,Centers for Disease Control and Prevention\n4.2,OH,10000+ Employees,1946,Government,Federal Agencies,Government,Unknown / Non-Applicable
5883,Senior SAS Programmer (Scientist),66,113,66 - 113,89.5,4.0,Certara\n4.0,OH,501 to 1000 Employees,2008,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable
5886,Senior Data Analyst - Product Analytics (open ...,67,111,67 - 111,89.0,4.0,New Relic\n4.0,OH,1001 to 5000 Employees,2008,Company - Public,Computer Hardware & Software,Information Technology,$100 to $500 million (USD)
5887,Manufacturing Data Analyst Engineer,42,76,42 - 76,59.0,3.6,Hose Master\n3.6,OH,201 to 500 Employees,1982,Company - Private,Electrical & Electronic Manufacturing,Manufacturing,Unknown / Non-Applicable

In [35]:
df['Location'].value_counts()

Location
CA    999
TX    879
OH    340
IL    287
NY    233
AZ    226
PA    219
FL    211
MA    203
NJ    193
MI    180
VA    113
DC     71
MD     54
DE      8
WI      3
GA      1
ME      1
KY      1
NM      1
NH      1
IN      1
NC      1
Name: count, dtype: int64

In [36]:
df[df['Location'] == "NC"]

,Job Title,Min Salary,Max Salary,Salary Estimate,Average Salary,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
3961,Seat Services Data Analyst (Fayetteville),45,96,45 - 96,70.5,3.9,Leidos\n3.9,NC,10000+ Employees,1969,Company - Public,Aerospace & Defense,Aerospace & Defense,$10+ billion (USD)

In [37]:
def title_organizer(x):
    x = x.lower()
    if ('data scientist' in x) or ('data science' in x):
        return 'data scientist'
    elif 'data engineer' in x:
        return 'data engineer'
    elif 'deep learning' in x:
        return 'deep learning engineer'
    elif 'machine learning' in x:
        return 'machine learning engineer'
    elif 'director' in x:
        return 'director'
    elif 'manager' in x:
        return 'manager'
    elif 'analyst' in x:
        return 'analyst'
    elif 'researcher' in x:
        return 'researcher'
    else:
        return 'other'

In [38]:
df['Job Title'].apply(title_organizer)

0       data scientist
1       data scientist
3              analyst
4       data scientist
5       data scientist
             ...
5881             other
5882             other
5883             other
5886           analyst
5887           analyst
Name: Job Title, Length: 4226, dtype: object

In [39]:
df['Job Title'] = df['Job Title'].apply(title_organizer)

In [40]:
df

,Job Title,Min Salary,Max Salary,Salary Estimate,Average Salary,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,data scientist,111,181,111 - 181,146.0,3.5,Hopper\n3.5,NY,501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable
1,data scientist,111,181,111 - 181,146.0,4.5,Noom US\n4.5,NY,1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable
3,analyst,111,181,111 - 181,146.0,3.4,Sapphire Digital\n3.4,NJ,201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable
4,data scientist,111,181,111 - 181,146.0,3.4,United Entertainment Group\n3.4,NY,51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable
5,data scientist,111,181,111 - 181,146.0,2.9,IFG Companies\n2.9,NY,201 to 500 employees,1985,Company - Private,Insurance Carriers,Insurance,Unknown / Non-Applicable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5881,other,38,64,38 - 64,51.0,3.2,CAS\n3.2,OH,1001 to 5000 Employees,1907,Subsidiary or Business Segment,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD)
5882,other,47,89,47 - 89,68.0,4.2,Centers for Disease Control and Prevention\n4.2,OH,10000+ Employees,1946,Government,Federal Agencies,Government,Unknown / Non-Applicable
5883,other,66,113,66 - 113,89.5,4.0,Certara\n4.0,OH,501 to 1000 Employees,2008,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable
5886,analyst,67,111,67 - 111,89.0,4.0,New Relic\n4.0,OH,1001 to 5000 Employees,2008,Company - Public,Computer Hardware & Software,Information Technology,$100 to $500 million (USD)
5887,analyst,42,76,42 - 76,59.0,3.6,Hose Master\n3.6,OH,201 to 500 Employees,1982,Company - Private,Electrical & Electronic Manufacturing,Manufacturing,Unknown / Non-Applicable

In [41]:
df['Job Title'].value_counts()

Job Title
data scientist               1614
analyst                       886
other                         860
data engineer                 629
machine learning engineer     140
manager                        60
researcher                     24
director                       10
deep learning engineer          3
Name: count, dtype: int64

In [42]:
# df.to_csv("CleanedDataFrame.csv")

In [43]:
df[df.eq("-1").any(axis=1)]

Empty DataFrame
Columns: [Job Title, Min Salary, Max Salary, Salary Estimate, Average Salary, Rating, Company Name, Location, Size, Founded, Type of ownership, Industry, Sector, Revenue]
Index: []

In [44]:
df.columns

Index(['Job Title', 'Min Salary', 'Max Salary', 'Salary Estimate',
       'Average Salary', 'Rating', 'Company Name', 'Location', 'Size',
       'Founded', 'Type of ownership', 'Industry', 'Sector', 'Revenue'],
      dtype='object')

In [45]:
df.drop(columns=['Salary Estimate', 'Company Name', 'Size', 'Founded', 'Type of ownership', 'Industry', 'Sector',
                 'Revenue'], inplace=True)

In [46]:
df.rename(columns={'Location': 'State'}, inplace=True)

In [47]:
# df.to_csv("CleanedDataFrame.csv", index=False)
df

           Job Title  Min Salary  Max Salary  Average Salary  Rating State
0     data scientist         111         181           146.0     3.5    NY
1     data scientist         111         181           146.0     4.5    NY
3            analyst         111         181           146.0     3.4    NJ
4     data scientist         111         181           146.0     3.4    NY
5     data scientist         111         181           146.0     2.9    NY
...              ...         ...         ...             ...     ...   ...
5881           other          38          64            51.0     3.2    OH
5882           other          47          89            68.0     4.2    OH
5883           other          66         113            89.5     4.0    OH
5886         analyst          67         111            89.0     4.0    OH
5887         analyst          42          76            59.0     3.6    OH

[4226 rows x 6 columns]